<div class = "container">
  <h2 id = "poem-auth">A Poem by @<%= @poem.user.twitter_handle %></h2>
  <p>From the tweets of <%= @poem.source_user %></p><br>

  <p class="poem-text">"<%= @poem.text %>"</p>
  <br>

  <% if current_user == @poem.user %>
    <button id="delete-poem-button" class ="btn-danger">Delete this poem?</button>
    <div id="sure">
      <p>Are you sure?</p>
      <%= button_to 'Yes', "/poems/#{@poem.id}", method: 'delete', class: "btn-danger" %>
    </div>
  <% end %>

  <% unless current_user %>
    <p>Are you <%= @poem.source_user %>?   <%= link_to "Sign in with Twitter", "/auth/twitter" %> to reply!</p>
  <% end %>
</div>

<script>

$('#sure').hide();

$('#delete-poem-button').click(function() {
  $('#sure').show(500);
});

</script>
