<div class = "container">
  <h1>A poem by @<%= @poem.user.twitter_handle %></h1>
  <p>Created from the tweets of <%= @poem.source_user %></p><br>

  <p class="poem-text"><%= @poem.text %></p>

  <% unless current_user %>
    <p>Are you <%= @poem.source_user %>?   <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %> to reply!</p>
  <% end %>
</div>
